table.podhod {
  border: 1px solid #69c; 
  -moz-user-select: none; /*запрет выделени€ дл€ Mozilla*/
  -webkit-user-select: none; /*запрет выделени€ дл€ Chrome, Safari*/
}

table.dataTable thead > tr > th {
  padding-right: 10px;
}

table.podhod th  {
  font-weight: normal;
  color: black;
  border: 1px dashed #69c;
  padding: 0px 10px;
  background: #C5C5C5;
  white-space: nowrap;/*убрать перенос*/
  text-align: center;

}
table.podhod td {
  color: black;
  border: 1px dashed #69c;
  padding: 0px 10px;
  white-space: nowrap;/*убрать перенос*/
}
table.podhod tr:hover td {
  background:#ccddff;
}

/*дл€ модального окна*/
/*.modal-header {
   padding: 7px;
   text-align: center;
} 
  
.form-control {
   width: auto;
   height: 25px;
   padding: 1px 5px;
   border: 2px solid #ccc;
   border-radius: 1;
}   

.modal-lg {
	width: 770px;
}

.modal-content {
	background-color: #C5C5C5; 
}*/

.pribitie {
	font-size: 12px;	
}  
/*
.panel-primary {
	border: 3px solid transparent;
	border-color: #337ab7;
}
*/
/*table.podhod {
  border: 1px solid #69c;
}
table.podhod th {
  font-weight: normal;
  color: black;
  border: 1px dashed #69c;
  padding: 7px 6px;
  background: #F9FF9D
}
table.podhod td {
  color: black;
  border: 1px dashed #69c; 
  padding: 1px 6px;
}
table.podhod tr:hover td {
  background:#ccddff;
}*/


.skin-blue-light .treeview-menu > li.active > a {
    background-color: #ccddff;
}
