table {
  white-space: nowrap;
}
#podhod th{
text-align: center;
}
#tgnl th{
text-align: center;
}

#podhod.table-bordered > thead > tr > th,
#podhod.table-bordered > tbody > tr > th, 
#podhod.table-bordered > tfoot > tr > th, 
#podhod.table-bordered > thead > tr > td, 
#podhod.table-bordered > tbody > tr > td, 
#podhod.table-bordered > tfoot > tr > td {
	border: 1px solid #b9b9b9;
}
 

.table > thead > tr.blue > th{
	background-color: #3c8dbc;
  color: white;
}
.table > thead > tr.yellow > th{
	background-color: #fbf9af;
}


#tgnl.table-bordered > thead > tr > th, 
#tgnl.table-bordered > tbody > tr > th, 
#tgnl.table-bordered > tfoot > tr > th, 
#tgnl.table-bordered > thead > tr > td, 
#tgnl.table-bordered > tbody > tr > td, 
#tgnl.table-bordered > tfoot > tr > td {
	border: 1px solid #b9b9b9;
}

#podhod.table > thead > tr > th, 
#podhod.table > tbody > tr > th, 
#podhod.table > tfoot > tr > th, 
#podhod.table > thead > tr > td, 
#podhod.table > tbody > tr > td, 
#podhod.table > tfoot > tr > td {
	padding: 2px;
}
#tgnl.table > thead > tr > th, 
#tgnl.table > tbody > tr > th, 
#tgnl.table > tfoot > tr > th, 
#tgnl.table > thead > tr > td, 
#tgnl.table > tbody > tr > td, 
#tgnl.table > tfoot > tr > td {
	padding: 2px;
}

#podhod.table-hover > tbody > tr:hover,
#tgnl.table-hover > tbody > tr:hover {
	background-color: #ddd;
}

.table > tbody >.selected td {
  background:#ccddff;
}

.podhod .treeview-menu > li.active > a {
    background-color: #3C8DBC;
}

/*   Прибытие */

.prib.form-horizontal .control-label {

	font-size: 12px;
}

.prib .input-sm {
	font-size: 16px;
	padding: 0px 10px;
}

/* ---------- */



